<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testteas.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>vkMusicPlayerSpeech.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>463F854D1902E61D008E94F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>463F856E1902E61D008E94F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4699849A18E9CAF100959E53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>469984BB18E9CAF200959E53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
